{% extends "base.html" %}


{% block content %}
<div class="flex_clients">
    <h1>Статья {{ post[0].description }}</h1>
    </div>
    <div class="flex_clients">
        <form method="post">
        <p>{{ post[0].text }}</p>
          {% if user.is_authenticated %}
                <li><a href="{{ url_for('update_post', post_id=post[0].id) }}"> Изменить статью</a></li>
                <li><a href="{{ url_for('delete_post', post_id=post[0].id) }}"> Удалить статью</a></li>
                 <li><p>Ваш комментарий {{comment_form.text}}</p></li>
                   <p>Сохранить комментарий {{comment_form.create_comment}}</p>
                    <li><p>Ваш комментарий {{comment_form.text}}</p></li>
                   <li><option>Оценить статью {{rating_form.example_select}}</option> </li>
                 <p>Сохранить оценку {rating_form.create_rating}}</p>
          {% else %}
        </form>
    </div>

    <h2>Комментарии</h2>
    <ul>
        {% for el in comment %}
            <li>{{ el.text }}</li>
            {% if user.is_authenticated %}
                <li><a href="{{ url_for('delete_comment', comment_id=el.id) }}"> Удалить комментарий</a></li>
          {% else %}
        {% endfor %}
    </ul>

     <h2>Рейтинг</h2>
        <p>Средний рейтинг статьи {{avg_rating}}</p>
    <a href="/">Вернуться в статьям</a>
{% endblock %}
